* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.active {
  border-bottom: solid 2px #ff7549;
  font-weight: bold;
  transition: border-bottom 0.3s ease-in-out;
}

:root {
  --primary-color: #ff7549;
}

.btnLogin {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.btnLogin:hover {
  background-color: #fff;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.btnSignup {
  background-color: #fff;
  color: var(--primary-color);
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.btnSignup:hover {
  background-color: var(--primary-color);
  color: #fff;
  border: 2px solid var(--primary-color);
}
