@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  flex: 1;
}

.active {
  border-bottom: solid 2px #ff7549;
  font-weight: bold;
  transition: border-bottom 0.3s ease-in-out;
}

:root {
  --primary-color: #ff7549;
  --secondary-color: #ffcebb;
}

/* navbar css */
.nav-item:hover {
  background-color: var(--secondary-color);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

/* utility css */

.Btn {
  color: #fff;
  border-radius: 10px;
  background-color: var(--primary-color);
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.Btn:hover {
  background-color: #fff;
  color: var(--primary-color);
  box-shadow: 0px 0px 0px 2px var(--primary-color) inset;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 2rem 0 4rem 0;
  padding: 1rem;
  width: 100%;
}

.heading h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #000;
  padding: 0.6rem 0;
  margin: 2rem 0;
  text-align: center;
  transition: all 0.3s ease-in-out;
  /* border-bottom: 2px solid var(--primary-color); */
}

.left-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.left-box h1 {
  font-size: 3rem;
  font-weight: 600;
}
.left-box p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #6c757d;
}

.right-box img {
  width: 35rem;
  height: 35rem;
  overflow: hidden;
  padding-bottom: 4rem;
  text-align: center;
}
.right-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* how it works page css */

.how-it-works p {
  font-size: 1rem;
  font-weight: 500;
  color: #6c757d;
  padding: 0.6rem 0;
}

.how-it-works ul li {
  list-style-type: none;
  text-transform: capitalize;
}
.number {
  font-size: 2rem;
  font-weight: 600;
  color: var(--secondary-color);
  padding: 0 0.5rem;
}

/* features css */
.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  margin: 2rem;
  border-radius: 10px;
  /* background-color: rgba(255, 166, 0, 0.421); */
  transition: all 0.3s ease-in-out;
  flex-wrap: nowrap;
}

.card-container {
  padding: 1rem;
  margin: 1rem;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  width: 25rem;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.11);
}
.card-container:hover {
  transform: translateY(-10px);
  border: 2px solid gray;
}
.card-img {
  text-align: center;
  img {
    border-radius: 20px;
  }
}
.card-content {
  padding: 1rem 0;
  text-align: center;

  h3 {
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5rem 0;
    color: var(--primary-color);
  }
  p {
    font-size: 1.2rem;
    font-weight: 500;
  }
}
/* footer css */
.footer {
  margin-top: auto;
  background-color: #343a40;
  padding: 40px 0;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  border-top: 1px solid #ffffff;
}

.footer p {
  padding: 8px 0;
  margin: 0;
}

.footer a {
  color: #61dafb;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}


/* loading spinner */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}