@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  flex: 1;
}

.active {
  border-bottom: solid 2px #ff7549;
  font-weight: bold;
  transition: border-bottom 0.3s ease-in-out;
}

:root {
  --primary-color: #ff7549;
}

/* navbar css */
.nav-item:hover {
  background-color: whitesmoke;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

/* utility css */

.Btn {
  color: #fff;
  border-radius: 10px;
  background-color: var(--primary-color);
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.Btn:hover {
  background-color: #fff;
  color: var(--primary-color);
  box-shadow: 0px 0px 0px 2px var(--primary-color) inset;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 2rem 0 4rem 0;
  padding: 1rem;
  width: 100%;
}

/* hero css */

.left-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.left-box h1 {
  font-size: 3rem;
  font-weight: 600;
}
.left-box p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #6c757d;
}

.right-box img {
  width: 35rem;
  height: 35rem;
  overflow: hidden;
  padding-bottom: 4rem;
  text-align: center;
}

/* footer css */
.footer {
  margin-top: auto;
  background-color: #343a40;
  padding: 40px 0;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  border-top: 1px solid #ffffff;
}

.footer p {
  padding: 8px 0;
  margin: 0;
}

.footer a {
  color: #61dafb;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}
