* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.active {
  border-bottom: solid 2px #ff7549;
  font-weight: bold;
  transition: border-bottom 0.3s ease-in-out;
}

:root {
  --primary-color: #ff7549;
}

.btnLogin {
  color: #fff;
  border-radius: 10px;
  background-color: var(--primary-color);
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bolder;
  border: none;
  cursor: pointer;
}

.btnLogin a {
  color: white;
}

.btnLogin a:hover {
  color: var(--primary-color);
}

.btnLogin:hover {
  background-color: #fff;
  border: 2px solid var(--primary-color);
}

.btnSignup:hover {
  background-color: var(--primary-color);
  color: #fff;
}
